@import "plugins/code-plugin/index.css";

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    /*box-shadow: inset 0px 1px 8px -3px #ABABAB;*/
    background: #fefefe;

    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    box-shadow: 2px 2px 6px black;
    overflow-y: scroll;
    height: calc(100% - 100px);
    margin-top: 50px;
}